# general
.DS_Store
*.log

# node
audit-report.json
node_modules/
.next/
out/
dist/
build/

# local env/config
.env
.env.*

# temp/cache
.tmp/
tmp/

# binaries
*.exe
*.dll
*.so
*.dylib
# ignore only optional standalone node binary at repo root
/idena-go-bin
